<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <a href="{{ projectsLink}}" target="_blank" >{{ linkTitle}}</a>
    {{> footer}}
  </body>
</html>
